.App {
  text-align: left;
  margin: 70px auto;
}

.App h2 {
  margin-bottom: 3px;
}

.CardProfile{
  text-align: center;
  margin: auto;
  width: 1000px;
  padding: 10px;
  border-width: 2px;
  border-color: rgb(57, 47, 114);
  border-radius: 2px;
  border-style: solid;
  background-color: rgb(26, 23, 43);
}

.ArtPuller{
  width:100%;
}

.ArtObject{
  padding: 20px;
  width: 100%;
}

.ArtObject img{
  width:100%;
}

.Footer{
  text-align: center;
  font-weight: 200;
  font-size: small;
  color:rgb(115, 110, 141);
  padding-top: 5px;
}